[Unit]
Description=The 2015 Sensatron LED user interface
After=pvr.service

[Service]
Type=simple
ExecStart=/home/root/dev/BBB-BM-Lights-2015/clutter_window

[Install]
WantedBy=basic.target