[Unit]
Description=The 2014 Sensatron LED user interface
After=pvr.service

[Service]
Type=simple
ExecStart=/home/root/dev/clutter_window/clutter_window

[Install]
WantedBy=basic.target